<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<link rel="stylesheet" href="tools/bootstrap/4.3.1/css/bootstrap.min.css">
		<title>Moja web stranica</title>
		<link rel="stylesheet" href="style.css">
	</head>
	<body>	
		<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
			<div class="container">
				<a class="navbar-brand" href="#">Moja web stranica</a>
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#my-navbar-nav">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="my-navbar-nav">
					<div class="navbar-nav ml-auto">
						<a class="nav-item nav-link" href="#">Stranica</a>
						<a class="nav-item nav-link" href="#">Stranica</a>
						<a class="nav-item nav-link" href="#">Stranica</a>     
					</div>
				</div>
			</div>
		</nav>		
		<div class="jumbotron">
			<div class="container">
				<h1 class="display-4">Hello, world!</h1>
			</div>
		</div>		
		<div class="container">
			<div class="row">
				<div class="col-12 col-lg-8">
					<div class="post">
						<h2>Naslov prve vijesti</h2>						
						<picture style="width:100%;">
							<source media="(max-width: 400px)" srcset="https://placehold.it/400x300">
							<source media="(max-width: 600px)" srcset="https://placehold.it/600x300">
							<source srcset="https://placehold.it/800x300">
							<img src="https://placehold.it/800x300" class="img-fluid img-thumbnail" alt="">
						</source></source></source></picture>
						<div class="main-content">
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus pharetra consequat diam, dignissim egestas purus fermentum eu. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus pharetra consequat diam, dignissim egestas purus fermentum eu.</p>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus pharetra consequat diam, dignissim egestas purus fermentum eu. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus pharetra consequat diam, dignissim egestas purus fermentum eu. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus pharetra consequat diam, dignissim egestas purus fermentum eu.</p>
						</div>				
					</div>
					<div class="post">
						<h2>Naslov druge vijesti</h2>
						<picture style="width:100%;">
							<source media="(max-width: 400px)" srcset="https://placehold.it/400x300">
							<source media="(max-width: 600px)" srcset="https://placehold.it/600x300">
							<source srcset="https://placehold.it/800x300">
							<img src="https://placehold.it/800x300" class="img-fluid img-thumbnail" alt="">
						</source></source></source></picture>
						<div class="main-content">
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus pharetra consequat diam, dignissim egestas purus fermentum eu. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus pharetra consequat diam, dignissim egestas purus fermentum eu.</p>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus pharetra consequat diam, dignissim egestas purus fermentum eu. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus pharetra consequat diam, dignissim egestas purus fermentum eu. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus pharetra consequat diam, dignissim egestas purus fermentum eu.</p>
						</div>				
					</div>
					<div class="post">
						<h2>Naslov treće vijesti</h2>
						<picture style="width:100%;">
							<source media="(max-width: 400px)" srcset="https://placehold.it/400x300">
							<source media="(max-width: 600px)" srcset="https://placehold.it/600x300">
							<source srcset="https://placehold.it/800x300">
							<img src="https://placehold.it/800x300" class="img-fluid img-thumbnail" alt="">
						</source></source></source></picture>
						<div class="main-content">
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus pharetra consequat diam, dignissim egestas purus fermentum eu. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus pharetra consequat diam, dignissim egestas purus fermentum eu.</p>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus pharetra consequat diam, dignissim egestas purus fermentum eu. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus pharetra consequat diam, dignissim egestas purus fermentum eu. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus pharetra consequat diam, dignissim egestas purus fermentum eu.</p>
						</div>				
					</div>				
				</div>
				<div class="col-12 col-lg-4 sidebar">
					<h2>Sidebar</h2>
					<hr class="my-4">
					<div class="main-content">
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus pharetra consequat diam, dignissim egestas purus fermentum eu.</p>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus pharetra consequat diam, dignissim egestas purus fermentum eu.</p>
					</div>
				</div>
			</div>
		</div>
		<div class="footer">
			<p>Web dizajn i produkcija</p>
		</div>
		<script src="tools/jquery/3.3.1/jquery.min.js"></script>
		<script src="tools/popper/1.14.7/popper.min.js"></script>
		<script src="tools/bootstrap/4.3.1/js/bootstrap.min.js"></script>
	</body>
</html>
